<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Watch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "pico.min.css" %>
    <%= stylesheet_link_tag "feed" %>

    <%= turbo_include_tags %>

    <% if current_user %>
      <%= turbo_stream_from current_user.id, "feed", channel: FeedChannel %>
    <% end %>
  </head>
  <body>
    <div id="overlay">
      <%= render "controls" %>

      <%= render "xp" %>
    </div>

    <% if !current_user %>
      <%= render "register_modal" %>
    <% end %>

    <%= turbo_frame_tag "media-frame" do %>
      <%# I couldn't choose heheheh. maybe base it on aspect ratio %>
      <%= render "media", url: [
          "https://static1.e621.net/data/a1/84/a184f13e4e393a686cdf96b0a326fd24.gif",
          "https://static1.e621.net/data/e5/3f/e53f8ed1162f174b9639a3eb95645aa8.gif"
        ].sample %>
    <% end %>
  </body>
</html>
